git config --global user.name Deokhwan,Kim
git config --global user.email thekwan@naver.com
git config --global alias.co checkout
git config --global alias.df diff
git config --global alias.st status
git config --global alias.lg 'log --decorate=full --graph --all --branches'
git config --global alias.cm commit
git config --global alias.lgf 'log --pretty=format:"%C(yellow)%h%x09%C(blue)%an%x09%C(green)%ad%x09%C(reset)%s%C(red)%d" --decorate=full --graph --date=short --branches --all'
git config --global color.ui auto
git config --global merge.tool kdiff3
git config --global diff.guitool kdiff3
git config --global core.editor vim
